@{
    ViewData["Title"] = "Permissão Negada!";
}

<div class="text-center">
    <h1 class="display-4">Esta ação requer privilégios de administrador.</h1>
    <p><a asp-controller="Usuarios" asp-action="Sair">Encerre esta sessão</a> e efetue o login com um perfil de administrador.</p>
</div>